@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #1d1f21;
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  color: #ff4444;
  padding: 0 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  z-index: 1000;
}

.header__logo {
  flex: 1;
  width: 75px;
  height: 75px;
  transform: translateY(-10%);
  opacity: 0.9;
}

.header__logo__img {
  max-height: 90px;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin-left: auto;
  gap: 2rem;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  text-decoration: none;
  color: #ff4444;
  font-size: 1.2rem;
  font-family: 'Press Start 2P', cursive;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #3498db;
}

.navbar__link span {
  position: relative;
}

.navbar__link:hover span::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 2px;
  width: 50%;
  background: #3498db;
  transition: width 0.3s ease;
}

.navbar__link:hover span::after {
  width: 100%;
}

.navbar__item:hover ~ .navbar__item:last-child:before {
	width: 100%;
	background: #3498db;
}

.navbar__item:hover ~ .navbar__item:last-child:before {
  width: 100%;
}


#gamecanvas{
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: block;
	float: center;
	transform: translateY(30%);
}

.three-canvas{
  margin: 0 auto;
  display: block;
  float: center;
}